* {
    margin: 0;
    text-decoration: none;
    cursor: default;
}

.card {
    margin-top: 10px;
}

.like{
    height: 35px;
    width: 35px;
}

.details {
    height: 45px;
    width: 45px;
    cursor: pointer;
}